@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  font-family: 'Roboto Condensed', sans-serif, 微軟正黑體;
  background-color: #FF9D00;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1; }

section {
  height: 100vh;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  section h2 {
    display: inline-block;
    font-size: 1.875rem;
    color: white;
    border: 4px solid white;
    padding: 8px 16px; }

#star .titleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media (max-width: 768px) {
    #star .titleImg {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #star .titleImg .titleNumber {
    font-size: 15rem;
    color: white;
    text-shadow: 12px 1px 0 black; }
  #star .titleImg .titleText {
    position: relative;
    font-size: 6rem;
    margin-left: 24px; }
    @media (max-width: 768px) {
      #star .titleImg .titleText {
        margin-left: 0;
        font-size: 4.5rem; } }
  #star .titleImg .titleSymbol {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 2.75rem;
    color: white;
    border-bottom: 20px double white; }
    @media (max-width: 768px) {
      #star .titleImg .titleSymbol {
        font-size: 1.75rem;
        border-width: 10px; } }

#star button[name="start"] {
  position: absolute;
  left: 50%;
  bottom: 15vh;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.25rem;
  font-weight: 700;
  width: 350px;
  padding-top: 5px;
  background-color: black;
  color: #FF9D00;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 768px) {
    #star button[name="start"] {
      bottom: 0;
      width: 100%; }
      #star button[name="start"]:after {
        display: none; } }
  #star button[name="start"]:after {
    content: attr(data-text);
    position: absolute;
    width: 0;
    top: 100%;
    left: 0;
    margin: 10px 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: normal;
    color: white;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
  #star button[name="start"]:hover:after {
    width: 100%;
    opacity: 1; }
  #star button[name="start"]:active {
    -webkit-transform: translateX(-50%) scale(0.95);
        -ms-transform: translateX(-50%) scale(0.95);
            transform: translateX(-50%) scale(0.95); }

#playing .header, #playing .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

@media (max-width: 768px) {
  #playing .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

#playing .header .leftBox .scoreBox {
  font-size: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #playing .header .leftBox .scoreBox .scoreTitle {
    background-color: white;
    color: #FF9D00;
    padding: 8px 16px; }
  #playing .header .leftBox .scoreBox .scoreNum {
    font-size: 2.625rem;
    padding: 0 12px;
    padding-top: 4px; }
    @media (max-width: 768px) {
      #playing .header .leftBox .scoreBox .scoreNum {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        text-align: right; } }

#playing .header .rightBox .countdown {
  font-size: 6rem;
  font-style: italic;
  color: white; }
  @media (max-width: 768px) {
    #playing .header .rightBox .countdown {
      font-size: 3rem;
      margin-bottom: 30px; } }

#playing .main {
  font-size: 7rem; }
  @media (max-width: 768px) {
    #playing .main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #playing .main .question {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    #playing .main .question .eq, #playing .main .question .ope {
      margin: 0 10px; }
    #playing .main .question .ope {
      color: white; }
    @media (max-width: 768px) {
      #playing .main .question .eq {
        display: none; } }
  #playing .main .answer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    position: relative;
    width: 100%; }
    @media (max-width: 768px) {
      #playing .main .answer {
        max-width: 90%; }
        #playing .main .answer:after {
          margin-top: 10px; } }
    #playing .main .answer input {
      width: 100%;
      font: inherit;
      padding: 15px 20px;
      border: none;
      outline: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: center; }
      @media (max-width: 768px) {
        #playing .main .answer input {
          font-size: 2.25rem; } }
    #playing .main .answer:after {
      content: attr(data-text);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 1.125rem;
      font-style: italic; }

#end .content {
  text-align: center; }
  #end .content p.endText {
    font-size: 3.5rem;
    margin: 20px 0; }
    @media (max-width: 768px) {
      #end .content p.endText {
        font-size: 1.75rem; } }
    #end .content p.endText:before, #end .content p.endText:after {
      content: '—';
      color: white;
      margin: 0 10px; }
  #end .content .scoreNum {
    font-size: 7rem; }
    @media (max-width: 768px) {
      #end .content .scoreNum {
        font-size: 12.5rem; } }
  #end .content button[name="again"] {
    font-size: 2.25rem;
    font-weight: 700;
    width: 350px;
    height: 100%;
    padding-top: 5px;
    background-color: black;
    color: #FF9D00;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ,opacity 0.5s 0.5s;
    -o-transition: all 0.5s ,opacity 0.5s 0.5s;
    transition: all 0.5s ,opacity 0.5s 0.5s;
    margin-top: 50px;
    overflow: hidden; }
    #end .content button[name="again"]:active {
      -webkit-transform: scale(0.95);
          -ms-transform: scale(0.95);
              transform: scale(0.95); }
    #end .content button[name="again"].hidden {
      visibility: hidden; }

.hidden {
  opacity: 0; }

.none {
  display: none; }
