<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 3F - 計算機｜JavaScrip 新手地下城

    link(rel="stylesheet", href="css/style.css")

  body
    .calcBody
      .calcResult
        .fun 
        .ans 0
      .calcInput
        .calcBtn.num(data-item="7") 7 
        .calcBtn.num(data-item="8") 8
        .calcBtn.num(data-item="9") 9
        .calcBtn.ope(data-item="÷") ÷
        .calcBtn.num(data-item="4") 4
        .calcBtn.num(data-item="5") 5
        .calcBtn.num(data-item="6") 6
        .calcBtn.ope(data-item="×") ×
        .calcBtn.num(data-item="3") 3
        .calcBtn.num(data-item="2") 2
        .calcBtn.num(data-item="1") 1
        .calcBtn.ope(data-item="+") +
        .calcBtn.num(data-item="0") 0
        .calcBtn.num(data-item="00") 00
        .calcBtn.num(data-item=".") .
        .calcBtn.ope(data-item="-") -
        .calcBtn.ac(data-item="AC") AC
        .calcBtn.del(data-item="del") ⌫
        .calcBtn.equal(data-item="=") =

    script(src="js/index.js")