.header
  .leftBox
    h2.title 60 SECONDS CHALLENGE
    .scoreBox
      .scoreTitle SCORE
      .scoreNum
  .rightBox
    .countdown 
.main
  .question
    span.num1 1 
    span.ope + 
    span.num2 1 
    span.eq =
  .answer(data-text="press enter to answer")
    input(type="text")