<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 1F - 9x9 乘法表｜JavaScrip 新手地下城

    link(rel="stylesheet", href="css/style.css")

  body
    main.multiplyBox
      section.multiplyTitle
        .hr
        h1
          .title 九九乘法表
          .subTitle MULTIPLICATION CHART
        .hr
      section.multiplyItem(data-num="2", data-star="1", data-end="9")
      section.multiplyItem(data-num="3", data-star="1", data-end="9")
      section.multiplyItem(data-num="4", data-star="1", data-end="9")
      section.multiplyItem(data-num="5", data-star="1", data-end="9")
      section.multiplyItem(data-num="6", data-star="1", data-end="9")
      section.multiplyItem(data-num="7", data-star="1", data-end="9")
      section.multiplyItem(data-num="8", data-star="1", data-end="9")
      section.multiplyItem(data-num="9", data-star="1", data-end="9")
      
    footer
      .content Copyright © 2019 HexSchool. All rights reserved.



    script(src="js/index.js")